<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Llimpe Berrocal Jesus Alejandro</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi quaerat corporis consequuntur distinctio iste totam doloribus amet quidem quisquam voluptas, et inventore earum saepe omnis libero corrupti dignissimos voluptatum perferendis.</p>
        </span>
    </div>
</div>