<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-lg-8">
        <button type="button" class="btn btn-dark" routerLink="/nuevask" *ngIf="isLogged">
            Agregar Skill
        </button>
    </div>
    
   <td>
        <tbody *ngFor="let Skill of skill">   
                     
    <circle-progress
        [percent]=(+Skill.dominioSk)
        [radius]="80"
        title="{{Skill.nombreSk}}"
        subtitle="{{Skill.dominioSk}}%"
        subtitleColor="#11315a"
        subtitleFontSize="20"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#049dff'"
        [innerStrokeColor]="'#11315a'"
        [animation]="true"
        [animationDuration]="570"
    ></circle-progress>

    <td *ngIf="isLogged">
        <button class="btn btn-light" routerLink="/editsk/{{Skill.id}}">
            <i class="bi bi-pencil-fill"></i> EDITAR</button>
    </td>
    <td *ngIf="isLogged">
        <button class="btn btn-danger" (click)="delete(Skill.id)">
            <i class="bi bi-trash-fill"></i> BORRAR</button>
    </td>     
        </tbody> 
        
    </td>

</div>


