<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        title="HTML"
        subtitle="85%"
        subtitleColor="#11315a"
        subtitleFontSize="20"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#049dff'"
        [innerStrokeColor]="'#11315a'"
        [animation]="true"
        [animationDuration]="570"
    ></circle-progress>   
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        title="CSS"
        subtitle="85%"
        subtitleColor="#11315a"
        subtitleFontSize="20"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#049dff'"
        [innerStrokeColor]="'#11315a'"
        [animation]="true"
        [animationDuration]="570"
    ></circle-progress>   
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        title="JavaScript"
        subtitle="85%"
        subtitleColor="#11315a"
        subtitleFontSize="20"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#049dff'"
        [innerStrokeColor]="'#11315a'"
        [animation]="true"
        [animationDuration]="570"
    ></circle-progress>   
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        title="GitHub"
        subtitle="85%"
        subtitleColor="#11315a"
        subtitleFontSize="20"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#049dff'"
        [innerStrokeColor]="'#11315a'"
        [animation]="true"
        [animationDuration]="570"
    ></circle-progress>   
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        title="Inglés"
        subtitle="85%"
        subtitleColor="#11315a"
        subtitleFontSize="20"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#049dff'"
        [innerStrokeColor]="'#11315a'"
        [animation]="true"
        [animationDuration]="570"
    ></circle-progress>   
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        title="Teamwork"
        subtitle="85%"
        subtitleColor="#11315a"
        subtitleFontSize="20"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#049dff'"
        [innerStrokeColor]="'#11315a'"
        [animation]="true"
        [animationDuration]="570"
    ></circle-progress>   
    </div>
</div>