<div class="container" *ngIf="proyectos">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombrePr">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombrePr" name="nombrePr" [(ngModel)]="proyectos.nombrePr" required>
                </div>
                <div class="form-group">
                    <label for="descripcionPr">Descripción del proyecto</label>
                    <input type="text" class="form-control" id="descripcionPr" name="descripcionPr" [(ngModel)]="proyectos.descripcionPr" required>
                </div>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>